<h3>About WAN</h3>
<p>WAN is a tool for monitoring recent changes on a Wikia's wiki.
    It was created by Saektide (LemonSaektide at Wikia).
</p>
<h3>How this work?</h3>
<p>WAN sends a POST request (why? trying with GET we gets an older response) to Wikia's wiki API,
    example: for Undertale Wiki (undertale.wikia.com) the API url is "undertale.wikia.com/api.php".
    With the query action and the RecentChanges list. WAN won't reach bots' activity.
</p>
<h3>Licence</h3>
<p>Saektide is the owner of this project. MIT Licence.
</p>