This is FAQ for Wikia Activity Notifier (FrontEnd Edition).
<ul class="faq">
<li class="q">Why this site is HTTPS but seems isn't?</li>
<li class="a">Because this site sends a request to get Recent Changes on a Wiki, but in some Wikia's domains HTTP protocol
    is 80 (Simply HTTP) and not 443 (HTTPS) so we get HTTP(not S) responses. (Fixed on 1.2 version)
</li>    
<li class="q">My Wikia/FANDOM account is used here?</li>
<li class="a">No, definitely is unnecessary use Wikia's accounts here. We just need AJAX and done!</li>  
<li class="q">Is there an App/Client for Desktop?</li>
<li class="a">Yes, you can found it <a href="https://github.com/Foundation-Internal-Oku/wan" target="_blank">here</a>.</li>
<li class="q">Is this site still under maintenance/developing?</li>
<li class="a">Of course, you can see the version at top of the page.</li>        
<li class="q">Is this site open source?</li>
<li class="a">Yes, we're hosting <a href="https://gitlab.com/Xaektide/wan" target="_blank">WAN's repository</a> at GitLab</li>
<li class="q">I detected bugs here, how can I report bugs?</li>
<li class="a">You can reports bugs sending a mail to <a href="mailto:apps@saektide.com" target="_blank">apps@saektide.com</a>.</li>          
<li class="q">I want to log recent changes on my Discord server/Slack team, how can I do that?</li>
<li class="a">In that case, WAL (<a href="https://dev.wikia.com/WikiaActivityLogger">WikiaActivityLogger</a>) can help you.
    Credits to <a href="https://dev.wikia.com/User:KockaAdmiralac">KockaAdmiralac</a>.</li>  
</ul>