<h3>About Tsundoku</h3>
<p>Tsundoku is a tool for monitoring recent changes on a site that has MediaWiki software.
    It was created by Saektide (Xakuzyo at FANDOM).
</p>
<h3>How this work?</h3>
<p>Tsundoku sends a POST request (why? trying with GET we gets an older response) to site's MediaWiki API,
    example: for Undertale Wiki (at FANDOM) (undertale.fandom.com) the API url is "undertale.fandom.com/api.php".
    With the query action and the RecentChanges list. Tsundoku won't reach bots' activity.
</p>
<h3>Licence</h3>
<p>Saektide is the owner of this project. MIT Licence.
</p>