<div class="wan-settings-panel" id="appSettings">
    <h2 id="themes">Theme</h2>
    <form action="#" class="form-settings theme-settings" id="0">
        <p>
            <input name="theme" type="radio" id="white"/>
            <label for="white">Clear Light</label>
        </p>
        <p>
            <input name="theme" type="radio" id="dark" />
            <label for="dark">Grey Dark</label>
        </p>
        <p>
            <input name="theme" type="radio" id="fandom" />
            <label for="fandom">Fandomized Cyan</label>
        </p>
    </form>
</div>