@font-face {
    font-family: 'GSans R';
    src: url('./fonts/GoogleSans-Regular.ttf');
}

@font-face {
    font-family: 'GSans B';
    src: url('./fonts/GoogleSans-Bold.ttf');
}

*::selection {
    background: rgba(93, 203, 224, 0.38);
}

html {
    font-family: 'GSans R';
}

body {
    margin: 0;
    background: #e4e4e4;
}

body a {
    text-decoration: none;
    color: #10c8ea;
    font-family: 'GSans B';
}

body a:hover {
    filter: brightness(75%);
}

.navbar {
    background: #f9f9f9;
    padding: 15px;
    box-shadow: 0 0 7px rgba(0,0,0,.4);
    color: #2d2d2d;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
}

.navbar button {
    background: #1a94ab;
    color: #fff;
    border: 0;
    padding: 7px 14px;
    margin-left: 10px;
    border-radius: 3px;
    cursor: pointer;
}

.container {
    position: relative;
    top: 80px;
    margin: 0 auto;
    width: calc(100% - 245px);
    color: #2d2d2d;
    padding: 15px 30px;
    border-radius: 3px;
    overflow: hidden;
}

.container h2 {
    margin-top: 0;
    font-weight: 400;
    font-size: 19pt;
}

.container > h2:first-child {
    font-weight: 700;
    text-align: center;
    font-size: 30pt;
}

.modal h1, .modal h2, .modal h3, .modal h4 {
    font-size: 16pt;
    font-weight: 700;
    font-family: 'GSans B';
}

.modal-content > h4 {
    border-bottom: 1px solid #e1e1e1;
    margin: -24px -24px 10px -24px;
    padding: 12px 24px;
}

button#closemodal {
    position: absolute;
    top: 16px;
    right: 16px;
    border: 2px solid #ff6a6a;
    color: transparent;
    background: #f93939;
    width: 16px;
    height: 16px;
    border-radius: 15px;
    opacity: .8;
}

button#closemodal:hover {
    opacity: 1;
}

.actionbuttons > button {
    background: #1a94ab;
    color: #fff;
    border: 0;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    cursor: pointer;
    transition: .4s;
}

.actionbuttons > button:hover {
    background: #2abbd6;
}

.wikislist {
    border-top: 1px solid #d6d6d6;
    margin-top: 10px;
}

.wikislist li .collapsible-header {
    position: relative;
    display: flex;
    align-items: center;
}

.wikislist li .collapsible-header .favicon-wiki {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #ddd;
}

.wikislist li .collapsible-header .sitename-wiki {
    color: #888;
}

.wikislist li .collapsible-header.active .sitename-wiki {
    color: #333;
}

.wikislist li .collapsible-body {
    background: #fff;
}

.wikirc-options {
    position: absolute;
    right: 0;
    top: 17.5px;
}

.wikirc {
    position: relative;
    margin: -10px -30px;
    border-radius: 4px;
    overflow: hidden;
}

.wikirc h2.wikidom {
    background: #03282f;
    padding: 10px 20px;
}

.wikirc .details {
    margin: 10px 20px;
}

.wikirc .details .collapsible-body {
    background: #f1f1f1;
}

button#removewiki {
    position: absolute;
    right: 20px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 2px solid #ffa0a0;
    background: #ff6565;
    cursor: pointer;
}

button#removewiki:hover {
    filter: brightness(75%);
}

.wikirc > h3 {
    font-size: 15pt;
    border-bottom: 1px solid #dddddd;
    color: #252525;
    font-weight: 400;
    padding: 10px 20px;
    margin-bottom: 0;
    margin: 0 20px;
}

h3.lastrc .lastuser {
    float: right;
    border-left: 1px solid #ddd;
    padding-left: 10px;
    margin-left: 10px;
}

h3.lastrc span.lasttype {
    float: right;
    text-transform: uppercase;
}

ul.faq {
    list-style: none;
    padding: 0;
}

ul.faq .q {
    padding: 7px 11px;
    margin: 7px 0;
    font-style: italic;
    border-left: 2px solid #ffa500;
}

.unsupportscreensize {
    position: fixed;
    background: #10434c;
    z-index: 100;
    color: #fff;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 30px;
    display: none;
}

/* Diff */

.lastdiff table {
    width: 100%;
    color: #333;
}

.lastdiff > table .diff-lineno {
    border-bottom: 1px solid #dddddd;
    font-size: 16pt;
    font-weight: 700;
    letter-spacing: 1px;
    width: 50%;
}

.lastdiff > table .diff-context {
    padding: 2px 8px;
    opacity: .4;
}

.lastdiff > table .diff-empty {
    background: rgba(255,255,255,.1);
    border-radius: 5px;
}

.lastdiff > table .diff-addedline {
    background: #b0f0ff;
    padding: 8px;
    border-radius: 0;
    border-bottom: 2px solid #f1f1f1;
}

.lastdiff > table .diff-deletedline {
    background: #ffd7bf;
    padding: 8px;
    border-radius: 0;
    border-bottom: 2px solid #f1f1f1;
}

.lastdiff > table del {
    background: #ffa976;
    padding: 2px 4px;
    margin: 0 2px;
    border-radius: 4px;
    text-decoration: none;
}

.lastdiff > table ins {
    background: #6adffb;
    padding: 2px 4px;
    margin: 2px 0;
    border-radius: 4px;
    text-decoration: none;
}

/* Host selection */

#hostSelection {
    background: transparent;
}

#hostSelection > li.indicator {
    background: #3ac7e0;
}

#hostSelection > li.tab > a {
    color: #86c5d0;
}

#hostSelection > li.tab > a.active {
    color: #3ac7e0;
}

/* For smaller devices */

@media only screen and (max-width: 768px) {
    .container {
        width: auto;
        border-radius: 0;
    }
}

.unauthed {
    left: 0;
    right: 0;
    position: absolute;
    color: #222;
    margin: 2em auto;
    width: calc(100% - 320px);
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
    padding: 1em 2em;
    text-align: center;
}

.unauthed > p {
    margin: 0;
    border-bottom: 1px solid #ddd;
    padding: 1em;
}

.unauthed-actions-buttons > button {
    border: 0;
    background: #1a9fbf;
    color: #fff;
    border-radius: 4px;
    margin: 0 20px;
}

.unauthed-warn-invalid-key {
    background: #ff5656;
    padding: 10px 0;
    border-radius: 4px;
}

span.username-min {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
}

span.username-min > .open-wan-menu {
    margin-left: 10px;
    color: #333;
}

#wan-menu .user-view {
    background: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#wan-menu .user-view .name {
    margin: 0;
}

#wan-menu > li i.material-icons {
    transition: .4s;
}

#wan-menu > li:hover a {
    color: #00a9de;
    filter: none;
    background-color: #f5fbff;
}

#wan-menu > li:hover i.material-icons {
    color: #00a9de;
}

@media only screen and (max-width: 425px) {
    .unauthed {
        width: 95%;
        padding: 20px 5px;
    }
}