<h3>Acerca de Tsundoku</h3>

<p>Tsundoku es una herramienta para monitorear cambios recientes sobre un
    sitio que tiene el software MediaWiki. Fue creado por Saektide
    (LemonSaektide en FANDOM).
</p>
<h3>¿Cómo funciona?</h3>
<p>Tsundoku envia solicitudes POST (porqué? intentando con GET conseguimos una respuesta mas antigua) 
    a la API del wiki de MediaWiki, por ejemplo: para Undertale Wiki (es.undertale.fandom.com) la url del API
    es "undertale.fandom.com/es/api.php". Con la acción "consulta" y la lista Cambios Recientes.
    Tsundoku no va a registrar cambios recientes de bots.
</p>
<h3>Licencia</h3>
<p>Saektide es el dueño del proyecto. Licencia MIT.
</p>