<h3>Acerca de WAN</h3>

<p>WAN es una herramienta para monitorear cambios recientes sobre un
    wiki de Wikia. Fue creado por Saektide (LemonSaektide en Wikia).
</p>
<h3>¿Cómo funciona?</h3>
<p>WAN envia solicitudes POST (porqué? intentando con GET conseguimos una respuesta mas antigua) 
    a la API del wiki de Wikia, por ejemplo: para Undertale Wiki (undertale.wikia.com) la url del API
    es "undertale.wikia.com/api.php". Con la acción "consulta" y la lista Cambios Recientes.
    WAN no va a registrar cambios recientes de bots.
</p>
<h3>Licencia</h3>
<p>Saektide es el dueño del proyecto. Licencia MIT.
</p>