Estas son las preguntas más frecuentes de Tsundoku.
<ul class="faq">
<li class="q">¿Mi cuenta de FANDOM/MediaWiki es usada aquí?</li>
<li class="a">No, definitivamente es innecesario usar cuentas de MediaWiki aquí. Solo necesitamos AJAX y listo!</li>  
<li class="q">¿Este sitio sigue en mantenimiento/desarrollandose?</li>
<li class="a">Por supuesto, puedes ver la versión haciendo click en el botón "Actualizaciones"</li>       
<li class="q">¿Este sitio es de código abierto?</li>
<li class="a">Sí, alojamos <a href="https://gitlab.com/tsundoku-wan/app" target="_blank">el repositorio de Tsundoku</a> en GitLab</li>
<li class="q">He detectado errores aquí, ¿Cómo puedo reportar errores?</li>
<li class="a">Puedes reportar bugs enviando un mail a <a href="mailto:apps@saektide.com" target="_blank">apps@saektide.com</a>.</li>          
<li class="q">Quiero registrar los cambios en mi servidor de Discord/equipo de Slack, ¿puedo hacer eso?</li>
<li class="a">No, pero si necesitas (realmente) hacer eso, ponte en contacto con
<a href="https://dev.wikia.com/User:KockaAdmiralac">KockaAdmiralac</a>. WAL (WikiaActivityLogger) ya no está funcionando.</li>   
</ul>