Estas son las preguntas más frecuentes de WAN FrontEnd.
<ul class="faq">
<li class="q">¿Por qué este sitio es HTTPS pero parece que no?</li>
<li class="a">Porque el sitio envia solicitudes a Cambios Recientes sobre un wiki, pero in algunos dominios de Wikia el protocolo
HTTP is 80 (simplemente HTTP) y no 443 (HTTPS) así que conseguimos respuestas HTTP(no S). (Arreglado en la version 1.2)
</li>   
<li class="q">¿Mi cuenta de FANDOM es usada aquí?</li>
<li class="a">No, definitivamente es innecesario usar cuentas de Wikia aquí. Solo necesitamos AJAX y listo!</li>  
<li class="q">¿Hay una app de escritorio?</li>
<li class="a">Sí, puedes encontrarla <a href="https://github.com/Foundation-Internal-Oku/wan" target="_blank">aquí</a>.</li>
<li class="q">¿Este sitio sigue en mantenimiento/desarrollandose?</li>
<li class="a">Por supuesto, puedes ver la versión haciendo click en el botón "Actualizaciones"</li>       
<li class="q">¿Este sitio es de código abierto?</li>
<li class="a">Sí, alojamos <a href="https://gitlab.com/Xaektide/wan" target="_blank">el repositorio de WAN</a> en GitLab</li>
<li class="q">He detectado errores aquí, ¿Cómo puedo reportar errores?</li>
<li class="a">Puedes reportar bugs enviando un mail a <a href="mailto:apps@saektide.com" target="_blank">apps@saektide.com</a>.</li>          
<li class="q">Quiero registrar los cambios en mi servidor de Discord/equipo de Slack, ¿puedo hacer eso?</li>
<li class="a">No, pero si necesitas (realmente) hacer eso, ponte en contacto con
<a href="https://dev.wikia.com/User:KockaAdmiralac">KockaAdmiralac</a>. WAL (WikiaActivityLogger) ya no está funcionando.</li>   
</ul>