<h2>Act. 1.6 - 16 de septiembre - 2018</h2>
<ul class="whatisnew">
    <li>Añadido un enlace para la página de usuario.</li>
    <li>El modal del dialogo ha sido rediseñado.</li>
</ul>
<h2>Act. 1.5 - 11 de septiembre - 2018</h2>
<ul class="whatisnew">
    <li>¡Los wikis sin HTTPS ahora están permitidos!</li>
    <li>Sistema de autenticación arreglado</li>
</ul>
<h2>Act. 1.4 - 12 de agosto - 2018</h2>
<ul class="whatisnew">
    <li>Se añadió un sistema de autenticación para evitar el abuso de usuarios no confiables.</li>
</ul>
<h2>Act. 1.3 - 23 de julio - 2018</h2>
<ul class="whatisnew">
    <li>WAN ahora tendrá un número maximo de limites de wikis que el usuario puede añadir.</li>
</ul>
<h2>Act. 1.2 - 22 de julio - 2018</h2>
<ul class="whatisnew">
    <li>WAN ahora va a rechazar a wikis que no tienen protocolo HTTPS.</li>
    <li>WAN ahora va redirigirte al sitio HTTPS si estas en http://saektide.com/wan (nota ese "http").</li>
    <li>Los botones grandes ahora tienen cursor:pointer.</li>
    <li>El encabezado del modal ha sido arreglado.</li>
    <li>Los enlaces hacia "cambios recientes del wiki" y "última página cambiada" han sido añadidos.</li>
    <li>Elementos WikiRC rediseñados.</li>
</ul>
<h2>Act. 1.1 de julio -  2018</h2>
<ul class="whatisnew">
    <li>Proxy de CORS Anywhere fue removido.</li>
    <li>El sitio ahora aparece (temporalmente) una página no segura. Por favor confie en este sitio,
        no estamos interesados en robar cuentas, tarjetas de crédito, etc. simplemente queremos brindar
        un simple servicio.
    </li>
    <li>Un botón de preguntas frecuentes ha sido añadido.</li>
    <li>Operación de remover wiki arreglado.</li>
</ul>