<li class="wiki-collapsable" id="$1">
        <div class="collapsible-header">
            <span class="favicon-wiki">
                <img src="https://www.google.com/s2/favicons?domain=$2" alt="">
            </span>
            <span class="sitename-wiki">Cargando</span>
            <div class="wikirc-options">
                <button id="removewiki" onclick="Session.removeWiki($1, '$2')" class="right"></button>
            </div>
        </div>
        <div class="collapsible-body">
            <div class="wikirc" id="$1"> 
                <h3 class="lastrc">
                    <span class="lasttitle"></span>
                    <span class="lastuser"><a href="#" target="_blank"></a></span>
                    <span class="lasttype"></span>
                </h3>
                <div class="details">
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header waves-effect"><i class="material-icons">chat_bubble_outline</i>Resumen</div>
                            <div class="collapsible-body">
                                <div class="lastsumm">
                                    <span></span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header waves-effect"><i class="material-icons">chrome_reader_mode</i>Diferencias</div>
                            <div class="collapsible-body">
                                <div class="lastdiff">
                                    <table></table>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </li>